* {
    margin: 0; padding: 0;
}
.container {
    margin-top: 20px;
    background: #f9f9f9;
    padding: 20px;			
}
.header {
    text-align: center;
}
.divContainer {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}
.divImg__divImg {
    background: #555;
    width: 200px;
    margin: 5px;
}
.divImg__img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
.divImg__img {
    outline: 1px solid grey;
}
.picture {
    background-color: yellow;
    display: none;
}
.picture img {
    position: absolute;

    left:10%;
    right:10%;

    width: 80%;
    height: 80%;
}
.picture img {
    box-shadow: inset 0 0 1em gray, 0 0 1em black;
}	